doctype html
html
  head
    title Edit Employee
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
  body
    .container
      h1 Edit Employee
      form#addEmployeeForm
        input#employeeId(type="hidden" value=employee.id)
        .mb-3
          label(for="name") Name
          input#name.form-control(type="text" name="name" value=employee.name placeholder="Enter Employee name")
        .mb-3
          label(for="position") Position
          input#position.form-control(type="text" name="position" value=employee.position placeholder="Enter Employee Position")
        .mb-3
          label(for="status") Status
          select#status.form-control(name="status")
            option(value="active", selected=employee.status === "active") Active
            option(value="inactive", selected=employee.status === "inactive") Inactive
        button#submitBtn.btn.btn-primary(type="submit") Submit

    script.
      
        const form = document.getElementById('addEmployeeForm');
        
        form.addEventListener('submit', async (e) => {
          e.preventDefault()
          const name = document.getElementById('name').value.trim();
          const position = document.getElementById('position').value.trim();
          const status = document.getElementById('status').value;
          const employeeId = document.getElementById('employeeId').value;

          const employeeData = { name, position, status };

          try {
            const response = await fetch(`http://localhost:3000/employees/${employeeId}`, {
              method: "PUT",
              headers: {
                "Content-Type": "application/json"
              },
              body: JSON.stringify(employeeData)
            });

            if (response.ok) {
              const result = await response.json()
              alert("Employee updated successfully!" );
              
            } else {
               const error = await response.json();
              alert("Error: " + error.message)
            }
          } catch (err) {
            console.error("Unexpected error:", err);
            alert("An unexpected error occurred. Please try again.");
          }
        });
    
