doctype html
html
  head
    title Edit Employee
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
  body
    .container.d-flex.justify-content-center.mt-5
      .centered-form.border.border-secondary.rounded.shadow.p-4.w-50.m-auto
        h2.text-center.my-2 Edit Employee
        form#editEmployeeForm
          input#employeeId(type="hidden" value=employee.id)
          .mb-3
            label(for="name") Name
            input#name.form-control(type="text" name="name" value=employee.name placeholder="Enter Employee name")
          .mb-3
            label(for="position") Position
            input#position.form-control(type="text" name="position" value=employee.position placeholder="Enter Employee Position")
          .mb-3
            label(for="status") Status
            select#status.form-control(name="status")
              option(value="active", selected=employee.status === 'active' ? 'selected' : '') Active
              option(value="inactive", selected=employee.status === 'inactive' ? 'selected' : '') Inactive
          button#submitBtn.btn.btn-primary(type="submit") Submit
          .d-flex.justify-content-center
            div#success.text-success.my-3
            div#danger.text-danger.my-3
    script(src="/employeeEdit.js")
