doctype html
html
  head
    title Issue Asset
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    style.
      .centered-form {
        width: 50%;
        margin: 0 auto;
        margin-top: 10%;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
  body
    .container
      .centered-form
        h2.my-4.text-center Issue Asset
        form#issueAssetForm
          .mb-3
            label(for="asset") Select Asset
            select#asset.form-control(name="assetId" required)
              option(value="" disabled selected) ---Select Asset---
              each asset in assets
                option(value=asset.id) #{asset.name} (Serial: #{asset.serialNo})
          .mb-3
            label(for="employee") Select Employee
            select#employee.form-control(name="employeeId" required)
              option(value="" disabled selected) ---Select Employee---
              each employee in employees
                option(value=employee.id) #{employee.name} (ID: #{employee.id})
          .mb-3
            label(for="issueDate") Issue Date
            input#issueDate.form-control(type="date" name="issueDate" required)
          .d-flex.justify-content-center
            button#submitBtn.btn.btn-primary(type="submit") Submit
          .d-flex.justify-content-center
              div#success.text-suucess.mt-2
              div#danger.text-danger.mt-2


    
    script.
      const form = document.getElementById('issueAssetForm')
      const submitBtn = document.getElementById('submitBtn')

      form.addEventListener('submit', async (e) => {
        e.preventDefault();
        const assetId = document.getElementById('asset').value
        const employeeId = document.getElementById('employee').value
        const issueDate = document.getElementById('issueDate').value

        const issueData = { assetId, employeeId, issueDate };

        try {
          const response = await fetch('http://localhost:3000/issue/', {
            method: "POST",
            headers: {
              "Content-Type": "application/json"
            },
            body: JSON.stringify(issueData)
          });

          if (response.ok) {
            const result = await response.json()
            document.getElementById('success').textContent = result.message
            form.reset()
          } else {
            const error = await response.json()
            document.getElementById('danger')=error.message
          }
        } catch (err) {
          console.error(err)
          alert("An unexpected error occurred. Please try again.")
        }
      });
