doctype html
html
  head
    title Edit Asset
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    style.
      #response {
        font-size: 20px;
      }
      #error {
        font-size: 20px;
      }
      .centered-form {
        width: 50%;
        margin: 0 auto;
        margin-top: 10%;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
  body
    .container
      .centered-form 
        h2.text-center.my-3 Edit Asset
        form#addAssetForm 
          input#assetId(type="hidden", name="id", value=asset.id)  
          .mb-3
            input#serialNo.form-control(type="text", name="serialNo", value=asset.serialNo)
          .mb-3
            input#name.form-control(type="text", name="name", value=asset.name)
          .mb-3
            input#model.form-control(type="text", name="model", value=asset.model)
          .mb-3
            input#make.form-control(type="text", name="make", value=asset.make)
          .mb-3 
            select#status.form-control(name="status") 
              option(value="Available", selected=(asset.status === 'Available')) Available
              option(value="Issued", selected=(asset.status === "Issued")) Issued
              option(value="Obsolete", selected=(asset.status === "Obsolete")) Obsolete
          .mb-3
            input#branch.form-control(type="text", name="branch", value=asset.branch)
          .mb-3
            input#value.form-control(type="number", name="value", value=asset.value)
          button#submitBtn.btn.btn-primary(type="submit") Submit
          .d-flex.justify-content-center
            div#response.mt-3.text-success
            div#error.mt-3.text-danger
            
    script(src="/assetEdit.js")
