doctype html
html
  head
    title Asset 
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css')
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css")
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    script(src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js")
  body
    .container
      .d-flex.justify-content-end
        a.btn.btn-outline-danger.fa.fa-eye.py-2.px-2.fs-5.my-3(href="/stock") View Stock
      .container.my-5
        form#formData
          .row.mb-3
            .col-md-6
              input#searchMake.form-control(type="text", placeholder="Search by Make")
            .col-md-3
              select#assetType.form-control
                option(value="" disabled selected) --Select--
                each asset in assets 
                  option(value=asset.name) #{asset.name}
            .col-md-3
              button#searchButton.btn.btn-primary(type="button") Search
      .container.my-5
        a.btn.btn-secondary.my-3(href='/assets/add') Add New +
        table.table.table-striped#asset
          thead
            tr
              th Serial Number
              th Category
              th Make
              th Model
              th Status
              th Actions
              th View History
          tbody#assetBody
            if assets && assets.length > 0
              each asset in assets
                tr
                  td= asset.serialNo
                  td= asset.name
                  td= asset.make
                  td= asset.model
                  td= asset.status
                  td
                    a.btn.btn-warning(href=`/assets/edit/${asset.id}`) Edit
                  td
                    a.btn.btn-danger(href=`/assetHistory/history/${asset.id}`) View History
    script.
      const searchButton = document.getElementById("searchButton");
      searchButton.addEventListener("click", async () => {
        const make = document.getElementById("searchMake").value
        const name = document.getElementById("assetType").value

        const params = new URLSearchParams()
        if (make) params.append("make", make)
        if (name) params.append("name", name)

        try {
          const response = await fetch(`/assets?${params.toString()}`, {
            method: "GET",
          });

          if (response.ok) {
            const assets = await response.json();
            updateTable(assets)
          } else {
            const error = await response.json();
            console.error(error)
            alert("Error fetching assets.");
          }
        } catch (err) {
          console.error("Error:", err);
          alert("An unexpected error occurred.");
        }
      });

      
      function updateTable(assets) {
        const tbody = document.getElementById("assetBody");
        tbody.innerHTML = ""
        if (assets.length === 0) {
          tbody.innerHTML = "<tr><td colspan='7'>No results found</td></tr>"
          return;
        }
        assets.forEach(asset => {
          const row = `
            <tr>
              <td>${asset.serialNo}</td>
              <td>${asset.name}</td>
              <td>${asset.make}</td>
              <td>${asset.model}</td>
              <td>${asset.status}</td>
              <td><a class="btn btn-warning" href="/assets/edit/${asset.id}">Edit</a></td>
              <td><a class="btn btn-danger" href="/assetHistory/history/${asset.id}">View History</a></td>
            </tr>
          `;
          tbody.insertAdjacentHTML( row);
        })
      }
    script.
      $(document).ready(function() {
        $('#asset').DataTable();
      });
